* {
  margin: 0;
  padding: 0;
}

header {
  /* position: fixed; */
  background-color: white;
  height: 50px;
  border-bottom: 1px solid #e8e8ea;
}

main {
  margin: 50px;
}

footer {
  background-color: #14142f;
  color: white;
  height: 500px;
}
